*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#f3f6ff;
padding:15px;
}

.app{
max-width:420px;
margin:auto;
}

h2{
text-align:center;
margin-bottom:15px;
color:#1f2a56;
}

.card{
background:white;
padding:15px;
border-radius:15px;
display:flex;
flex-direction:column;
gap:10px;
}

input,select{
padding:10px;
border:1px solid #ddd;
border-radius:10px;
font-size:14px;
}

.row{
display:flex;
align-items:center;
gap:5px;
}

.row input{
width:60px;
text-align:center;
}

button{
padding:10px;
border:none;
border-radius:10px;
background:#4f6df5;
color:white;
}

.days{
display:flex;
flex-wrap:wrap;
gap:5px;
font-size:12px;
}

.hide{display:none;}

.alarm{
background:white;
margin-top:10px;
padding:12px;
border-radius:12px;
}

.btns{
display:flex;
gap:5px;
margin-top:8px;
}

.btns button:nth-child(1){
background:#28a745;
}

.btns button:nth-child(2){
background:#ff3b3b;
}